@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboard-faq .introduction {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.inactiveArrow {
  transform: rotate(-90deg);
  border: none;
  background-color: inherit;
}

.activeArrow {
  border: none;
  background-color: inherit;
}

.dashboard-faq .question {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.9rem, 0.7vw + 0.5rem, 1.125rem);
  /* font-size: calc(0.7vw + 0.5rem); */
  /* font-size: 0.9rem; */
  line-height: 34px;
  border: none;
  background-color: inherit;
}

.dashboard-faq .answer {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.dashboard-faq .border-open {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 2em 0em;
  box-sizing: border-box;
  padding: 18px 24px;
  background-color: #ffffff;
  border-left: 5px solid #c8cbd1;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 3px 46px rgba(0, 0, 0, 0.06));
}

.dashboard-faq .arrow-question-container {
  display: flex;
  flex-direction: row;
}

.dashboard-faq .line {
  width: 100%;
  border: 1px solid #ebebeb;
  margin: 8px 0px;
}

@media screen and (max-width: 848px) {
}
@media screen and (max-width: 576px) {
  .dashboard-faq .border-open {
    width: 100%;
  }

  .dashboard-faq .question {
    /* font-size: calc(1rem, 20vw, 1.125rem); */
  }
}
