aside {
  border-right: 1px solid var(--color-grey);
  padding: 2rem 0.7rem 0.7rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

aside ul {
  /* Nadpisanie domyślnych styli przeglądarki */
  padding-inline-start: 1rem;
  list-style-type: none;
}

aside li {
  display: flex;
  align-items: end;
  line-height: 2rem;
  margin-bottom: 0.7rem;
}

aside li a {
  display: block;
  padding: 0.2rem 0.2rem 0.35rem 0.2rem;
  margin-left: 3px;
  text-decoration: none;
}

aside a.active {
  /* background-color: var(--color-primary-blue); */
  color: #fe3756;
  font-weight: 500;
}

aside button {
  /* background-color: none; */
  height: 100px;
}

.svg-icon {
  filter: invert(0%) sepia(91%) saturate(7463%) hue-rotate(109deg)
    brightness(87%) contrast(100%);
}

.svg-icon-clicked {
  filter: invert(45%) sepia(69%) saturate(5301%) hue-rotate(329deg)
    brightness(100%) contrast(106%);
}

.fa-solid {
  position: absolute;
  top: 20px;
  right: 40px;
  display: block;
  scale: 130%;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  aside {
    padding: 0;
  }

  aside nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(215, 215, 250);
    text-align: center;
  }

  aside nav li {
    display: flex;
    justify-content: center;
  }

  .fa-solid {
    position: absolute;
    top: 20px;
    right: 40px;
    display: block;
    scale: 130%;
    z-index: 2;
    transition-duration: 0.4s;
  }

  :is(.fa-solid:hover) nav {
    display: flex;
  }
}
